body {
  margin: 0;
  background-color: #16171b;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.shelf {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 40px 80px 40px;
  gap: 60px;
  overflow-y: auto;
}

.vinyl-row {
  display: flex;
  gap: 80px;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.vinyl {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.4s ease, filter 0.3s ease;
  cursor: grab;
}

.vinyl img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.4s ease;
  rotate: 10deg;
}

.vinyl:hover {
  transform: scale(1.5);
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  opacity: 1;
}

.vinyl:active {
  cursor: grabbing;
}

.vinyl:hover img {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl-row:hover .vinyl:not(:hover) {
  filter: blur(3px) brightness(0.6);
}

.vinyl:hover .info {
  opacity: 1;
  transform: translateY(5px);
}

.info {
  text-align: center;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.info h3 {
  margin: 0;
  font-size: 14px;
}

.info p {
  margin: 2px 0 0 0;
  color: #bbb;
  font-size: 12px;
}

.table {
  position: absolute;
  width: 40vh;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.playcd {
  flex: 1;
  border-left: 2px solid #242427;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #0f0f12;
}

.playcd.dragover {
  background: #222;
}

.playcd p {
  font-size: 16px;
  color: #777;
  text-align: center;
}

#drop-text {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-bottom: 40px;
  transition: all 0.4s ease;
}

#drop-text.playing {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 0;
  transform: translateX(-50px);
}

.vinyl-preview {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 20px;
  animation: spin 6s linear infinite;
  margin-bottom: 20px;
}

audio {
  display: none;
}

.progress-bar {
  background: #505050;
  flex: 1;
  height: 6px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 0.5rem;

  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  max-width: 50%;
  cursor: pointer;
}

#progress-bar-fill {
  display: block;
  height: 100%;
  width: 0%;
  background-color: #ff8edf;
}
